RewriteEngine On

##################################   REECRITURE DES PAGES   ###########################################

# RewriteRule ^$								index.php [QSA,L]
# RewriteRule ^recents\.html$					recents.php [QSA,L]
# RewriteRule ^best\.html$						best.php [QSA,L]

# RewriteRule ^recents-(.+)\.html$				recents.php?page=$1 [QSA,L]
# RewriteRule ^best-(.+)\.html$					best.php?page=$1 [QSA,L]