*{
padding:0;
margin:0;
}

body {
margin:0px;
padding:0px;
font-family: 'OFL Sorts Mill Goudy TT',Georgia,serif;
font-size: 16px;
color: #777;
background: url('prenomscons_background_4.jpg') repeat;
}

#main-wrapper{
max-width:680px;
margin:0 auto 0 auto;
padding:20px 10px 20px 10px;
}

#formulaire {
width:100%;
box-sizing: border-box;
padding:20px;
z-index:999;
background-color : #fbedf3;
/* background-color: #CBFADF; */
/* background-color: #fffaf4; */
border-radius: 15px;
}

.bouton{
border:1px solid #444;
background-color:#ffbac6;
color:#444;
font-weight:900;
padding:3px;
cursor:pointer;
}

.bouton:hover{
border:1px solid #777;
background-color:white;
color:#777;
font-weight:900;
padding:3px;
cursor:pointer;
}


#menu{
width:100%;
box-sizing: border-box;
position:relative;
margin-top: 20px;
font-size:18px;
z-index: 500;
}

#menu span{
display:inline;
position:relative;
z-index: 1;
text-align:center;
padding: 0 15px 5px 15px;
margin-right:20px;
background-color : #fbedf3;
/* background-color: #CBFADF; */
border-top-right-radius: 15px;
border-top-left-radius: 15px;
}

#menu a{
display:inline;
position:relative;
z-index: 1;
text-decoration:none;
text-align:center;
padding: 0 15px 5px 15px;
margin-right:20px;
background-color: #ffbac6;
/* background-color: #04959D; */
border-top-right-radius: 15px;
border-top-left-radius: 15px;
color:#444;
}


@media screen and (max-width:600px) {
	#menu{
	font-size:0.7em;
	}
	#menu span, #menu a{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	}
}

#menu a:hover{
text-decoration:none;
background-color: #FFF;
}

#contenu {
width:100%;
box-sizing: border-box;
position:relative;
z-index: 999;
padding:20px;
background-color : #fbedf3;
/* background-color: #CBFADF; */
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.entree{
display:block;
list-style-type:none;
padding:0 0 20px 0;
text-align:top;
}

.entree1ligne{
color:#AAA;
font-size:22px;
}

.prenom {
font-size: 18px;
padding:5px 0 5px 0;
color:#555;
}

.entree2ligne{
font-size:13px;
}

.lien{
color:#6d84b4;
text-decoration:none;
}

.lien:hover{
color:#6d84b4;
text-decoration:underline;
cursor:pointer;
}

.separateur{
width:50px;
font-size:32px;
margin-left:auto;
margin-right:auto;
}

#pages{
padding-top:30px;
text-align:center;
}

#contact{
margin-top:40px;
margin-bottom:20px;
margin-left:auto;
margin-right:auto;
width: 680px;
text-align:center;
}

#contact a{
color:#6d84b4;
font-size:13px;
text-decoration:none;
}

#contact a:hover{
text-decoration:underline;
}